{% extends "layout.html" %}
{% from "macros/svgs.html" import star %}

{% block head_content %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/movies.css')}}"/>
{% endblock %}

{% block main_content %}
    {% if movies_data %}
        <table class="table">
            <colgroup>
                <col style="width: 60%">
                <col style="width: 60%">    
                <col style="width: 60%">
            </colgroup>

            <thead>
                <th class="table__cell table__cell--header">Başlık</th>
                <th class="table__cell table__cell--header">Son izleme</th>
                <th class="table__cell table__cell--header"></th>
            </thead>    
            <tbody>
                {% for movie in movies_data %}
                    <tr>
                        <td class="table__cell">
                            <div class="title-cell">
                                <p class="table__movieTitle">
                                    {{movie.title}}
                                    <div class="movie__rating">
                                        {% for i in range(5) %}
                                            <a class="rating__link" href="{{ url_for('pages.rate_movie', _id=movie._id, rating=i+1)}}">                                
                                                {{ star("star " + ("star--filled" if movie.rating > i else "")) }}
                                            </a>
                                        {% endfor %}
                                    </div>
                                </p>
                            </div>
                            <p class="table__movieDirector">{{movie.director}}</p>
                        </td>
                        <td class="table__cell">
                            {% if movie.last_watched %}
                            <p>
                                 <a href="{{url_for('pages.watch_today', _id=movie._id)}}" class="table__link">
                                    <time datetime="{{movie.last_watched}}">{{movie.last_watched.strftime("%d %b %Y")}}</time>
                                </a>
                            </p>
                        {% else %}
                            <p><a href="{{url_for('pages.watch_today', _id=movie._id)}}" class="table__link">İzlemediniz.</a></p>
                        {% endif %}</td>
                        <td class="table__cell">
                            <a href="{{url_for('pages.movie', _id=movie._id)}}" class="table__link">Görüntüle</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="table__empty">Hiç film eklemediniz. <a href="{{url_for('pages.add_movie')}}" class="link">Bir tane ekleyin!</a></p>
    {% endif %}
    <a href="{{url_for('pages.add_movie')}}" class="button button--add">
        <span>+</span>
    </a>
{% endblock %}
